@font-face {
  font-family: 'RockSalt';
  src: local('RockSalt'), url(../fonts/RockSalt-Regular.ttf) format('truetype');
}

// @media (min-width: 600px) {
  // }
  
  // body {
    //   background-image: url(../images/jfl-GfmIT_pseDQ-unsplash.jpg);
    //   background-size: 100% 100vh;
    //   background-repeat: repeat-y;
    // }
    
    body {
      background-image: url(./../images/jfl-GfmIT_pseDQ-unsplash.jpg);
      background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.scaledown {
  @media (max-width: 500px) {
    transform: scale(0.7);
  }
}

.linearGradientBlue {
  background: linear-gradient(90.65deg, #2CC3DB 23.67%, #17739B 106.16%);
}

.linearGradientBlue2 {
  background: linear-gradient(90.65deg, #17739B 23.67%, #2CC3DB 106.16%);
}

.Trrr {
  background: linear-gradient(90.65deg, #2CC3DB 23.67%, #17739B 106.16%);
  @media (min-width: 1024px) {
    background: transparent;
  }
}

.skewDiv {
  transform: skew(0, 5deg);
}